[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "tsinghua"

[packages]
akshare = "*"
matplotlib = "*"
jupyterlab = "*"
requests = "*"
pyquery = "*"
selenium = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
apscheduler = "*"
sqlalchemy = "*"
tqdm = "*"

[dev-packages]
pytest = "==8.3.3"
hypothesis = "==6.112.1"

[requires]
python_version = "3.14"
