[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "tsinghua"

[packages]
akshare = "*"
matplotlib = "*"
jupyterlab = "*"
requests = "*"
pyquery = "*"
selenium = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
